# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Node (if ever used)
node_modules/

# IDE
.idea/

# Temporary files
*.tmp